# this example represents what we want for Real Events
AUDIO_DEBUG: false
DEBUG_TRACKLIST: false
DISABLE_AUDIO: false
SEND_LED_DATA: true
USE_PERFORMANCE_TIMING: false
FULLSCREEN_MODE: true
LED_VIEWER: false
TOUCHSCREEN_DATA_REFRESH_RATE: 15
MODE: playlist
PLATFORM: rpi
FRAME_DELAY: 10
aural_effect_strength_multiplier: 0.25
autoplay_crossfade: 5
autoplay_interval: 50
brain_position: 3
brightness: 0.5
decay_constant: -0.075
max_energy: 150
